SPRING_APPLICATION_NAME=cacheservice
SERVER_PORT=8080

CACHE_STORE_TYPE=redis
CACHE_DEFAULT_LEASE_MS=300000
CACHE_DEFAULT_TTL_SECONDS=86400
CACHE_KEY_PREFIX_CACHE=c:
CACHE_KEY_PREFIX_LOCK=l:

SPRING_DATA_REDIS_HOST=redis
SPRING_DATA_REDIS_PORT=6379

APP_CONTAINER_NAME=cache-service
REDIS_CONTAINER_NAME=cache-redis
REDIS_IMAGE=redis:7.2-alpine
REDIS_PORT=6379
